
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.navbar {
    background-color: grey;
    color: white;
}
.navbar a {
    color: white;
}
.main-container {
    height: 600px;
    color: white;
    background-color: rgb(78, 7, 78);
}
h6 {
    margin-left: 150px;
}
h1 {
    margin-left: 100px;
}
.main-paragraph{
    margin-left: 90px;
}
.icon:hover {
    color: #f9f9f9;

}
.follow {
    margin-left: 170px;
    
} 
.icons {
    justify-content: space-between;
    margin-left: 170px;
    
}
.button-section {
    margin-top: 50px;
    margin-left: 130px;
    align-content: space-evenly;
}
.image {
    width:300px;
    height: 300px;
    position: absolute;
    top: 20px;
    right: 20px;
    margin-top: 100px;
    margin-right: 400px;  
 } 
.img-fluid {
border-radius: 50px;
margin-left: 80px;
}
.about-container {
    margin-top: 150px;
    background-color: rgb(78, 7, 78) ;
    height: 650px;
    border: 1px solid rgb(97, 92, 97);
    top: 200px;
    align-items: center;
}
h2 {
    margin-top: 500px;
    top: 200px;
    display: flex;
    text-align: center;
    margin-left: 550px;
}
h5 {
    text-align: center;
    
}
p {
    margin-left: 50px;
}
.button-section1 {
     margin-left: 50px;
}



.Skill-container{
    margin-bottom: 2000px;
    background-color: rgb(78, 7, 78) ;
    height: 600px;
    display: flex;
    text-align: center;
    justify-content:space-evenly; 
    align-items: center;
    border: 1px solid rgb(97, 92, 97);
    margin: 0;   
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #12172b;
    color: white;
    font-family: "poppins", sans-serif;
}
.Skill-container h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 80px;
}
.skill-area {
    display: flex;
    flex-direction: column;
    padding: 0 20%;
}
.skill {
    position: relative;
    margin-bottom: 40px;
}
.skill-title {
    font-size: 40px;
    margin-bottom: 10px;
}
.skill-bar {
    width: 1000%;
    background-color: rgba(225, 255, 255, 0.6);
    height: 40px;
    z-index: -1;
    border-radius: 100px;
    position: absolute;
}
.skill-fill {
    background-color: blue;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    overflow: hidden;

}
.skill-percentage {
    font-size: 30px;
}
.html {
    font-weight: 10px;
    animation: html 2s;
    width: 80%;
}
.css {
    font-weight: 10px;
    animation: css 2s;
    width: 70%;
}
.javascript {
font-weight: 10px;
    animation: javascript 2s;
    width:50% ;
}
@keyframes html {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}
@keyframes css {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}
@keyframes javascript {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
} 
    
@media only screen and (max-width:750px) {
    .skill-area {
        padding: 0 5%;
    }
}
.project-container {
    height: 700px;
    background-color: rgb(78, 7, 78) ;
    
}
.project {
    text-align: center;
    margin-left: 10px;
    top: 300px;
}
.sub {
    margin-top: 50px;
    text-align: center;
}
.project-paragraph {
    margin-top:50px ;
}
.contact-container {
    height: 500px;
    background-color: rgb(78, 7, 78);


}
.contact-container1 {
    height: 400px;
    width: 600px;
    max-width: 600px;
    padding: 20px;
    background-color: ghostwhite;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-left: 350px;

}
.contact{
    text-align: center;
    margin-left: 50px;
    top:200px;
}
form input{
    display: block;
    align-items: center;
    margin-left: 20px;
    width: 500px;
    height: 40px;
    border-radius: 15px;
    color: #333;
    background-color: #f7f7f7;
    margin-top: 5px;
}
.form {
    right: 300px;
    margin-right: 50px;
}
.btn1 {
    background-color: blue;
    width: 500px;
    margin-left: 20px;
    color: white;
    border-radius: 15px;
    height: 40px;

}

h3 {
    margin-left: 200px;
}


















